@import '_templateColors.scss';

.card-signin {
    border: 0 !important;
    border-radius: 1rem !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1) !important;
}

div #logo-cadastro {
    width: 200px;
}

body{
    background-color: $serenity !important;
}