{# Load the tag library #}
{% load static %}
{% load bootstrap4 %}
{% load socialaccount %}
{% block head %}
<title>Entrar</title>
<link href="{% static 'css/all.css' %}" rel="stylesheet">
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block page %}

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto card-div" id="div-card-login">
            <div class="card card-signin my-5 shadow rounded-3">
                <div class="row justify-content-center px-3 mt-3 mb-1">
                    <img id="logo-login" src="{% static 'imagens/Alugaqui - Logo-01.png' %}">
                </div>
                <div class="card-body ">
                    <h5 class="card-title text-center font-weight-light">Acesse sua conta</h5>
                    <form method="post">
                        {% csrf_token %}

                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>{{ field.name|title }} {{ error|escape }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>{{ error|escape }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}

                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Email" name="username">
                            <p class="errorlist">{{ form.errors.username }}</p>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Password" name="password">
                            <p class="errorlist">{{ form.errors.password }}</p>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <p class="mb-1">
                                    <a href="/accounts/reset_password/">Esqueci a minha senha!</a>
                                </p>
                                <p class="mb-0">
                                    <span>Não tem uma conta?<a href="{% url 'accounts:cadastro' %}" class="text-center">
                                            Registre-se</a></span>
                                </p>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" id="btn-entrar" class="btn btn-primary btn-block">Entrar</button>
                            </div>
                            <!-- /.col -->
                        </div>
                </div>
                <div class="card-body" style="padding-top: 0px;">
                    <hr>
                    <div class="col-12" style="display: flex; justify-content: center; margin-top: 10px">
                        <div class="google-btn btn-primary">
                            <div class="google-icon-wrapper">
                                <img class="google-icon"
                                    src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                            </div>
                            <p class="btn-text"><b><a style="color: white;"
                                        href="{% provider_login_url 'google' %}">Entrar com Google</a></b></p>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}