{% extends 'basepage.html' %}

{% load static %}
{% load bootstrap4 %}

{% block head %}
    <title>Recuperar senha</title>
{% endblock %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block page %}
    <p>Insira de email para receber as intruções</p>
    <form method="post">
        {% csrf_token %}
        <div class="col-md-6">
            {% bootstrap_form form %}
        </div>

        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>
{% endblock %}