{% extends 'basepage.html' %}


{% block title %}Página de Detalhes{% endblock %}

{% block page %}

<link rel="stylesheet" href="/static/css/imovel_detalhes.css">
<div class="row">
    <h4><b>{{imovel.tipo}}</b></h4>
    <p>{{imovel.endereco.logradouro}}, Nº {{imovel.endereco.numero}} - Bairro:
        {{imovel.endereco.bairro}}</p><br>
    <hr />
    <p>R$ {{imovel.valor_mensal}},00/mês</p>
</div>
<div class="row">
    <div id="clique-mens-div" class="col col-xs-10 col-sm-2 col-md-3 col-lg-2">
        Clique nas imagens abaixo para dar zoom
    </div>
</div>

<section id="imgs-section">
    <div class="row">
        <div id="div-imgs-left" class="col col-xs-8 col-sm-2 col-md-2 col-lg-2">
            {% for img in imovel.imagens %}
            <div class="img-wrapper">
                <img class="img-mini" onclick="zoomImage(this.src)" src="{{img.link}}" alt="Imagem do imóvel">
                <!-- <img class="img-mini" onmouseover="zoomImage(this.src)" onclick="zoomImage(this.src)" src="{{img.link}}" alt="Imagem do imóvel"> -->
            </div>
            {% endfor %}
        </div>
        {% for img in imovel.imagens %}
        <div class="img-wrapper-in-line col col-sm-2 col-md-2">
            <img class="img-mini-inline" onclick="zoomImage(this.src)" src="{{img.link}}" alt="Imagem do imóvel">
            <!-- <img class="img-mini" onmouseover="zoomImage(this.src)" onclick="zoomImage(this.src)" src="{{img.link}}" alt="Imagem do imóvel"> -->
        </div>
        {% endfor %}
        <div class="col col-xs-12 col-sm-10 col-md-9 col-lg-10" id="img-zoom-div">
            <img id="img-zoom" src="" alt="">
        </div>
        <div>
        </div>
    </div>
</section>
<hr />
<div id="div-descricao">
    <p><b>Descrição fornecida pelo proprietário:</b></p>
    <p>{{imovel.descricao}}</p>
</div>
<hr />
<div class="propi-div">
    <p>
        <b>Proprietário:</b> {{proprietario.getFullName}} <br>
        <b>Contato: </b> <i class="fas fa-phone"></i> {{proprietario.telefone}} - <i class="fa fa-envelope"></i>
        {{proprietario.email}}
    </p>
    <div>Envie um E-mail diretamente para o propietário</div>
    <div id="div-email" class="row">
        <input type="text" id="usuario-nome" value="{{user.getFullName}}" hidden>
        <input type="text" id="usuario-telefone" value="{{user.telefone}}" hidden>
        <input type="text" id="usuario-email" value="{{user.email}}" hidden>
        <form action="/imovel/enviarEmailProp/{{imovel.id}}" method="post">
            {% csrf_token %}
            <div class="col col-sm-12">
                <b>Digite aqui sua mensagem ou clique nos envelopes para usar modelos prontos:</b>
            </div>
            <div class="col col-sm-12">
                <textarea class="input" required name="texto-mens" id="textarea-mens" rows="10">
        </textarea>
            </div>
            {% if messages %}
            <!-- MENSAGENS -->
            <div class="col col-sm-12" id="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="bg-{{ message.tags }} col col-sm-12"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
            <!-- MENSAGENS -->
            {% endif %}
            <div class="col col-sm-12">
                <button class="btn btn-success" id="enviar-email"
                    onclick="return confirm('Tem certeza que deseja enviar o e-mail para o propietário?')">Enviar
                    e-mail</button>
            </div>
            <div class="col col-sm-12">
                <button type="button" id="bt1" class="btn mens-email" onclick="mensagemTipo1()"><i
                        class="fa fa-envelope"></i></button>
                <button type="button" id="bt2" class="btn mens-email" onclick="mensagemTipo2()"><i
                        class="fa fa-envelope"></i></button>
                <button type="button" id="bt3" class="btn mens-email" onclick="mensagemTipo3()"><i
                        class="fa fa-envelope"></i></button>
            </div>
        </form>
    </div>
</div>

<div>



</div>

<script src="/static/js/imovel_detalhes.js"></script>

</body>
{% endblock %}