{% extends 'basepage.html' %}


{% block title %}Página de Detalhes{% endblock %}

{% block page %}

<link rel="stylesheet" href="/static/css/imovel_detalhes.css">
<div class="row">
    <h4><b>{{imovel.tipo}}</b></h4>
    <p>{{imovel.endereco.logradouro}}, Nº {{imovel.endereco.numero}} - Bairro:
            {{imovel.endereco.bairro}}</p><br>
    <hr />
    <p>R$ {{imovel.valor_mensal}},00/mês</p>
</div>
<div class="row">
    <div id="clique-mens-div" class="col col-xs-10 col-sm-2 col-md-3 col-lg-2">
        Clique nas imagens abaixo para dar zoom
    </div>
</div>

<section id="imgs-section">
    <div class="row">
        <div id="div-imgs-left" class="col col-xs-8 col-sm-2 col-md-2 col-lg-2">
            {% for img in imovel.imagens %}
            <div class="img-wrapper">
                <img class="img-mini" onclick="zoomImage(this.src)" src="{{img.link}}" alt="Imagem do imóvel">
                <!-- <img class="img-mini" onmouseover="zoomImage(this.src)" onclick="zoomImage(this.src)" src="{{img.link}}" alt="Imagem do imóvel"> -->
            </div>
            {% endfor %}
        </div>
        {% for img in imovel.imagens %}
        <div class="img-wrapper-in-line col col-sm-2 col-md-2">
            <img class="img-mini-inline" onclick="zoomImage(this.src)" src="{{img.link}}" alt="Imagem do imóvel">
            <!-- <img class="img-mini" onmouseover="zoomImage(this.src)" onclick="zoomImage(this.src)" src="{{img.link}}" alt="Imagem do imóvel"> -->
        </div>
        {% endfor %}
        <div class="col col-xs-12 col-sm-10 col-md-9 col-lg-10" id="img-zoom-div">
            <img id="img-zoom" src="" alt="">
        </div>
        <div>
        </div>
    </div>
</section>
<hr />
<p><b>Descrição fornecida pelo proprietário:</b></p>
<p>{{imovel.descricao}}</p>

<div class="propi-div">
    <p>
        <b>Proprietário:</b> {{proprietario.getFullName}} <br>
        <b>Contato: </b> {{proprietario.telefone}} - {{proprietario.email}}
    </p>
</div>



<script src="/static/js/imovel_detalhes.js"></script>

</body>
{% endblock %}